
<div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-1 col-xs-12">
        <br>
        <%= link_to root_path, class:'navbar-brand' do %>
          <%= image_tag(@logo, alt:"Bootstrap", width: '150rem;')%>
          <!--<b style="font-family: bankgothic; font-weight: 900; font-size: 35px; width: 300px;">MB</b>-->
        <% end %>
      </div>
      <div class="col-lg-3 col-xs-12">

      </div>
      <div class="col-lg-8 col-xs-12">
        <nav class="navbar navbar-expand-lg">
<br><br><br><br><br><br>
          <div class="container-fluid">

              <%= link_to t('navbar.main'), root_path, class:"btn btn-outline-warning", style:"font-size: 18px;" %>



              <%= link_to t('navbar.about'), backends_path, class:"btn btn-outline-warning", style:"font-size: 18px;" %>






<br><br><br><br>
<p>

</p>


          </div>
        </nav>
      </div>
    </div>

  </div>
</div>
